body,
figure.interactive {
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    @include fs-bodyCopy(2);
}

::selection {
    background: rgba(75, 198, 223, 0.4);
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.section {
    margin-bottom: 48px;
}

.section--treemap {
    margin-top: -36px;
}

.section--treemap-small,
.section--copy {
    max-width: 880px;
}

.section--treemap-inline {
    max-width: 620px;
}

.section--copy,
.section--treemap-small,
.section--treemap-inline {
    @include mq(leftCol) {
        padding-left: 160px;
    }
    @include mq(wide) {
        padding-left: 240px;
    }
}

.section__title {
    @include fs-header(2);
    margin: 0 0 12px 0;
}

.section__copy {
    max-width: 620px;
    margin: 0 0 8px 0;
}

.section__container {
    position: relative;
    padding-bottom: 50%;
}

.section__divisions {
    @include fs-textSans(1);
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 2px;
    right: 0;
    bottom: 0;
}

$padding: 4px;
.section__division {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    padding: $padding;
    background-color: #f1f1f1;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 2px, white 2px, white 6px);

    &.section__division--welfare {
        background-color: transparent;
    }
}

.section__text {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    &::before {
        content: "";
        margin-top: -($padding / 2);
        height: calc(100% + #{$padding * 2});
        margin-left: -4px;
    }

    &::before,
    & > span {
        display: inline-block;
        vertical-align: middle;
    }

    & > span {
        position: relative;
        z-index: 6;
        color: white;
    }

    .section__division--welfare & {
        @include fs-textSans(3);
        overflow: visible;
        top: 100%;
        margin-top: 5px;
        & > span {
            color: #333;
        }
        br {
            display: none;
        }
    }
}

.section__cut {
    position: absolute;
    z-index: 5;
    background-color: #bdbdbd;
    border-radius: 5px;

    transition: all 0.2s ease-out;
    .is-hiding-cuts & {
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
    }

    .section__division--welfare & {
        background-color: transparent !important;
        border-radius: 11px;
        border: 3px solid #333;
        margin: -3px;
        z-index: 6;
    }

    .section--treemap-inline & {
        z-index: auto;
    }
}

.section__treemap-info {
    margin: 0 0 8px 0;

    @include mq(leftCol) {
        margin-left: 160px;
    }
    @include mq(wide) {
        margin-left: 240px;
    }

    .section--treemap-inline &,
    .section--treemap-small & {
        margin-left: 0;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.section__toggle {
    @include fs-textSans(2);
    cursor: pointer;
    font-weight: bold;
    outline: 0;
    border: 0;
    padding: 0 10px;
    line-height: 30px;
    background: #005689;
    color: white;
    border-radius: 100px;

    .section--treemap-inline & {
        display: none;
    }
}

.section__total {
    @include fs-textSans(3);
    font-weight: bold;
    float: right;
    margin: 16px 2px 0 0;
}

.section__cost {
    display: none;
}

.is-hiding-cuts {
    .section__cost {
        display: inline;
    }
    .section__new-cost {
        display: none;
    }
}
