body,
figure.interactive {
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    @include fs-bodyCopy(2);
}

::selection {
    background: rgba(75, 198, 223, 0.4);
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.section {
    margin-bottom: 24px;

    &[data-map='ame'] {
        margin-bottom: 48px;
    }
}

.section--treemap {
    margin-top: -12px;
}

.section--treemap-small,
.section--copy {
    max-width: 880px;
}

.section--treemap-inline {
    max-width: 620px;
}

.section--copy,
.section--treemap-small,
.section--treemap-inline {
    @include mq(leftCol) {
        padding-left: 160px;
    }
    @include mq(wide) {
        padding-left: 240px;
    }
}

.section__title {
    @include fs-header(2);
    margin: 0 0 12px 0;
}

.section__copy {
    max-width: 620px;
    margin: 0 0 8px 0;
}

.section__container {
    position: relative;
    padding-bottom: 180%;
    @include mq(tablet) {
        padding-bottom: 50%;
    }
}

.section__divisions {
    @include f-textSans;
    font-size: 11px;
    line-height: 14px;

    @include mq(tablet) {
        @include fs-textSans(1, $size-only: true);
    }
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.section__division {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAJ37tz5zwjjgzgqKiqMYAEYB8RmROaABAAE9A+Y/FAxkgAAAABJRU5ErkJggg==) repeat;

    &.section__division--welfare {
        background: transparent;
    }
}

.section__text {
    position: absolute;
    overflow: hidden;
    left: -5px;
    right: -5px;
    bottom: 0;
    top: 0;
    text-shadow:
       -1px -1px 0 transparentize(#333, 0.5),  
        1px -1px 0 transparentize(#333, 0.5),
        -1px 1px 0 transparentize(#333, 0.5),
         1px 1px 0 transparentize(#333, 0.5);

    &::before {
        content: "";
        height: 100%;
        margin-left: -4px;
    }

    &::before,
    & > span {
        display: inline-block;
        vertical-align: middle;
    }

    & > span {
        position: relative;
        z-index: 6;
        color: white;
    }

    .section__division--welfare & {
        text-shadow: none;
        overflow: visible;
        top: 100%;
        margin-top: 5px;
        & > span {
            color: #333;
        }
        br {
            display: none;
        }

        @include mq(mobileLandscape) {
            @include fs-textSans(3, $size-only: true);
        }

        display: none;
        @include mq(tablet) {
            display: block;
        }
    }
}

.section__cut {
    position: absolute;
    z-index: 5;
    background-color: #bdbdbd;
    border-radius: 5px;

    transition: all 0.2s ease-out;
    .is-hiding-cuts & {
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
    }

    .section__division--welfare & {
        background-color: transparent !important;
        border-radius: 11px;
        margin: -3px;
        z-index: 6;
    }

    .section--treemap-inline & {
        z-index: auto;
    }
}

.section__treemap-info {
    @include fs-textSans(2);
    line-height: 30px;
    font-weight: bold;
    white-space: nowrap;

    margin: 0 0 4px 0;

    @include mq(leftCol) {
        margin-left: 160px;
    }
    @include mq(wide) {
        margin-left: 240px;
    }

    .section--treemap-inline &,
    .section--treemap-small & {
        margin-left: 0;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }

    @include mq(mobileLandscape) {
        font-size: 14px;
    }
}

.section__toggle {
    @include fs-textSans(2);
    cursor: pointer;
    font-weight: 500;
    outline: 0;
    border: 0;
    padding: 0 10px;
    margin: 0 0 0 3px;
    line-height: 30px;
    background: #dcdcdc;
    color: #333;
    border-radius: 100px;

    transition: background-color 0.1s ease-out;
    transition: color 0.1s ease-out;

    &:hover {
        background: #bdbdbd;
    }

    .is-hiding-cuts & {
        color: white;
        background:  #005689;

        &:hover {
            background: #00456e;
        }
    }
}

.section__toggle--new {
    background: #005689;
    color: white;
    &:hover {
        background: #00456e;
    }

    .is-hiding-cuts & {
        background: #dcdcdc;
        color: #333;
        &:hover {
            background: #bdbdbd;
        }
    }
}

.section__total {
    float: right;
    margin: 0 2px 0 0;
    white-space: nowrap;

    display: none;
    @include mq(tablet) {
        display: block;
    }
}

.section__cost {
    display: none;
}

.is-hiding-cuts {
    .section__cost {
        display: inline;
    }
    .section__new-cost {
        display: none;
    }
}

.section__source {
    @include fs-textSans(1);
    text-align: right;
    color: #999;
    margin: 4px 0 8px 2px;

    @include mq(desktop) {
        float: right;
    }

    .section--treemap-inline & {
        float: none;
    }
}

.d-cdel-1,
.d-ame-2,
.d-ame-8 {
    & .section__text {
        z-index: 8;
    }
    & .section__cut {
        z-index: 7;
    }
}
