body,
figure.interactive {
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    @include fs-bodyCopy(2);
}

::selection {
    background: rgba(75, 198, 223, 0.4);
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.section {
    margin-bottom: 48px;
}

.section--copy {
    max-width: 880px;
}

.section--treemap-inline {
    max-width: 620px;

    .section__toggle {
        display: none;
    }
}

.section--copy,
.section--treemap-inline {
    @include mq(leftCol) {
        padding-left: 160px;
    }
    @include mq(wide) {
        padding-left: 240px;
    }
}

.section__title {
    @include fs-header(2);
    margin: 0 0 12px 0;
}

.section__copy {
    max-width: 620px;
    margin: 0 0 8px 0;
}

.section__container {
    position: relative;
    padding-bottom: 50%;
}

.section__divisions {
    @include fs-textSans(1);
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.section__division {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
    overflow: hidden;
    padding: 3px;

    &::before {
        content: "";
        height: 100%;
        margin-left: -4px;
    }

    &::before,
    & > span {
        display: inline-block;
        vertical-align: middle;
    }

    & > span {
        position: relative;
        z-index: 2;
        color: white;
    }
}

.section__cut {
    position: absolute;
    background-color: #f1f1f1;

    transition: all 0.2s ease-out;

    .is-hiding-cuts & {
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
    }
}

.section__toggle {
    @include fs-textSans(2);
    font-weight: bold;
    outline: 0;
    border: 0;
    margin: 0 0 8px 0;
    padding: 0 10px;
    line-height: 30px;
    background: #005689;
    color: white;
    border-radius: 100px;

    @include mq(leftCol) {
        margin-left: 160px;
    }
    @include mq(wide) {
        margin-left: 240px;
    }
}
